body {
  font-family: 'Roboto Mono', monospace;
  color: #515f5d;
  font-size: 15px;
  letter-spacing: -0.013em;
}

.main-content {
  margin-left: 100px;
  margin-right: 240px;
  display: grid;
  grid-template-columns: 380px 1fr 250px;
}
.accordionwrapper{
  grid-column: 1/2;
}
.tab {
  grid-column: 2/3;
  grid-row: 1/3;
}

nav {
  width: 120px;
  padding: 40px 50px;
  position: fixed;
  top: 0;
  right: 20px;
  z-index: 10;
}

.nav-logo {
  margin-left: 2em;
  margin-bottom: 50px;
  width: 94px;
  height:54px;
  background: url(../media/svg/hoc-icon-color.svg) no-repeat;
  display: block;
}


nav ul {
  counter-reset:item;
  list-style-type: none;
  padding-left: 0;
}

nav li {
  margin-bottom: 25px;
  display: block;
}

.nav-link {
  display: block;
  font-weight: 700;
  text-decoration: none;
  color: #515f5d;
  font-size: 18px;
  overflow: hidden;
  transition: color 200ms;
}

.nav-link:hover {
  color: #6696ac;
}

nav li::before {
  content: "0" counter(item);
  counter-increment: item;
  float: left;
  font-weight: 400;
  font-size: 18px;
  opacity: 0.6;
  width: 2em;
}

.project-paranth::after {
  content: "()";
  color: #c0bcbb;
}

.kontakt-end::after {
  content: ";";
  color: #c0bcbb;
}

h1 {
}



.page-links {
  color: #6696ac;
  font-weight: 700;
  text-decoration: underline;
}



.text-field {
  width: 380px;
  padding: 15px;
  border-width: 3px;
  border-color: #a6bb75;
  box-shadow: none;
  border-style: solid;
}


.blue {
  color: #6696ac;
}

.blue-bg {
  background-color: #6696ac;
}

.orange {
  color: #d7734a;
}

.orange-bg {
  background-color: #d7734a;
}

.yellow {
  color: #d8a55a;
}

.yellow-bg {
  background-color: #d8a55a;
}

.green {
  color: #a6bb75;
}

.green-bg {
  background-color: #a6bb75;
}

.purple {
  color: #aa81ac;
}

.purple-bg {
  background-color: #aa81ac;
}

.grey {
  color: #515f5d;
}

.grey-bg {
  background-color: #515f5d;
}

.light-grey {
  color: #c0bcbb;
}

.light-grey-bg {
  background-color: #c0bcbb;
}

.pink {
  color: #d47378;
}

.pink-bg {
  background-color: #d47378;
}




input[type=text] {
  width: 600px;
}
