body {
  font-family: 'Roboto Mono', monospace;
  color: #515f5d;
  font-size: 15px;
  letter-spacing: -0.013em;
}

.main-content {
  margin-left: 100px;
  margin-right: 240px;
}

nav {
  width: 160px;
  padding: 40px 50px;
  position: fixed;
  top: 0;
  right: 20px;
  z-index: 10;
}

nav li {
  margin-bottom: 25px;
}

.nav-link {
  display: block;
  font-weight: 700;
  text-decoration: none;
  color: #515f5d;
  font-size: 18px;
}

.nav-link::before {
  content: "0" counter(item);
  counter-increment: item;
}

h1 {
}

.btn {
  display: inline-block;
  padding: 15px;
  border: 3px solid #a6bb75;
  color: #a6bb75;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
}

.page-links {
  color: #6696ac;
  font-weight: 700;
  text-decoration: underline;
}

.submit-btn {
  background-color: #a6bb75;
  border-style: none;
  color: #ffffff;
  font-weight: bold;
  padding: 15px;
  width: 100%;
}

.text-field {
  width: 380px;
  padding: 15px;
  border-width: 3px;
  border-color: #a6bb75;
  box-shadow: none;
  border-style: solid;
}

/* NOTE: farver */

.blue {
  color: #6696ac;
}

.blue-bg {
  background-color: #6696ac;
}

.orange {
  color: #d7734a;
}

.orange-bg {
  background-color: #d7734a;
}

.yellow {
  color: #d8a55a;
}

.yellow-bg {
  background-color: #d8a55a;
}

.green {
  color: #a6bb75;
}

.green-bg {
  background-color: #a6bb75;
}

.purple {
  color: #aa81ac;
}

.purple-bg {
  background-color: #aa81ac;
}

.grey {
  color: #515f5d;
}

.grey-bg {
  background-color: #515f5d;
}


/* NOTE: specifikt til styleguide */
.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.type {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.color-type {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.colors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.block {
  width: 70px;
  height: 20px;
}
