body {
  font-family: 'Roboto Mono', monospace;
  color: #515f5d;
  font-size: 15px;
  letter-spacing: -0.013em;
  padding: 0;
}

.main-content {
  margin-left: 100px;
  margin-right: 240px;
}

nav {
  width: 160px;
  padding: 40px 50px;
  position: fixed;
  top: 0;
  right: 20px;
  z-index: 10;
}

.nav-logo {
  margin-left: 2em;
  margin-bottom: 50px;
  width: 94px;
  height:54px;
  background: url(../media/svg/hoc-icon-color.svg) no-repeat;
  display: block;
}

nav ul {
  counter-reset:item;
  list-style-type: none;
  padding-left: 0;
}

nav li {
  margin-bottom: 25px;
  display: block;
}

.nav-link {
  display: block;
  font-weight: 700;
  text-decoration: none;
  color: #515f5d;
  font-size: 18px;
  overflow: hidden;
  transition: color 200ms;
}

.nav-link:hover {
  color: #6696ac;
}

nav li::before {
  content: "0" counter(item);
  counter-increment: item;
  float: left;
  font-weight: 400;
  font-size: 18px;
  opacity: 0.6;
  width: 2em;
}

.project-paranth::after {
  content: "()";
  color: #c0bcbb;
}

.kontakt-end::after {
  content: ";";
  color: #c0bcbb;
}


.main-text {
  top: 20px;
}

.btn {
  display: inline-block;
  padding: 15px;
  border: 3px solid #a6bb75;
  color: #a6bb75;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
}

.page-links {
  color: #6696ac;
  font-weight: 700;
  text-decoration: underline;
}

.submit-btn {
  background-color: #a6bb75;
  border-style: none;
  color: #ffffff;
  font-weight: bold;
  padding: 15px;
  width: 100%;
}

.text-field {
  width: 380px;
  padding: 15px;
  border-width: 3px;
  border-color: #a6bb75;
  box-shadow: none;
  border-style: solid;
}

/* STYLING AF "UNIK VURDERING" TEKST */

.gul-heading {
  font-size: 25px;
  padding-left: 5px;
}

.gul-tekst {
  font-size: 15px;
  padding-left: 10px;
}

.gul-bracket {
  font-size: 25px;
  padding-left: 5px;
}

/* NOTE: farver */

.blue {
  color: #6696ac;
}

.blue-bg {
  background-color: #6696ac;
}

.orange {
  color: #d7734a;
}

.orange-bg {
  background-color: #d7734a;
}

.yellow {
  color: #d8a55a;
}

.yellow-bg {
  background-color: #d8a55a;
}

.green {
  color: #a6bb75;
}

.green-bg {
  background-color: #a6bb75;
}

.purple {
  color: #aa81ac;
}

.purple-bg {
  background-color: #aa81ac;
}

.grey {
  color: #515f5d;
}

.grey-bg {
  background-color: #515f5d;
}

.light-grey {
  color: #c0bcbb;
}

.light-grey-bg {
  background-color: #c0bcbb;
}

.pink {
  color: #d47378;
}

.pink-bg {
  background-color: #d47378;
}

.mobile-toggle {
  display: none;
}

/* NOTE: til video */

#app-video {
right: 0;
bottom: 0;
z-index: -1;
}

video {
    object-fit: contain;
    width: 100%;
    height: auto;
}

.video-wrapper {
  margin-right: 250px;
  margin-top: 50px;
}

/* NOTE: til scrollview */

#tocontent {
    padding-bottom: 20px;
    position: relative;
    bottom: 20px;
    margin-left: 50%;
    right: -98px;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    text-decoration: none;
    color: #6696ac;
    z-index: 100;
}
#tocontent:after {
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    border-right: 3px solid currentColor;
    border-bottom: 3px solid currentColor;
    position: absolute;
    bottom: 0;
    left: 42px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

button {
  background-color: #a6bb75;
  color: #ffffff;
  border: 3px solid #a6bb75;
  padding: 10px 20px;
  font-size: 17px;
  width: 120px;
}


#prevBtn {
  background-color: #fff;
  color: #a6bb75;
  margin-right: 135px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Roboto Mono', monospace;
  cursor: pointer;
}

#prevBtn:hover {
  opacity: 0.8;
}

#nextBtn:hover {
  opacity: 0.8;
}

#nextBtn {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Roboto Mono', monospace;
  color: #fff;
  cursor: pointer;
}




/* NOTE: desktop only */
@media only screen and (min-width: 1000px){

.topnav {
  display: none;
}

/* NOTE: form grid */

.main-content2 {
  margin-left: 100px;
  margin-right: 240px;
  display: grid;
  grid-template-columns: 386px 1fr;
}
.main-text {
  grid-row: 1/2;
}
.beskrivelse {
  padding-top: 20px;
  grid-row: 2/3;


}

.accordionwrapper{
  grid-column: 1/2;
  width: 400px;
}
.billed {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  margin-top: 10px;
  margin-left: -5vw;
  width: 30vw;
  min-width: 200px;
  max-width: 500px;
  position: fixed;
  top: 50%;
  right: 0;
  margin-right: 25%;
  z-index: -1;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}



}

/* NOTE: tablet only */
@media only screen and (max-width: 1000px){

 .main-content {
   margin-top: 100px;
   margin-left: 50px;
   margin-right: 50px;
   display: grid;
   grid-template-columns: 400px;
 }

  nav {
    display: none;
  }

.beskrivelse {
  width: 386px;
}
  .topnav {
overflow: hidden;
position: relative;
background-color: #fff;
position: fixed;
right: 0;
top: 0;
width: 100%;
z-index: 100;
}

.mobile-logo {
  background: url(../media/svg/hoc-icon-color.svg) no-repeat;
  width: 97px;
  height: 54px;
  margin-left: 20px;
  margin-top: 10px;
  background-position: center;
}




.topnav a {
color: #515f5d;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
display: block;
position: absolute;
right: 0;
top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
}

/* Style the active link (or home/logo) */
.active {
color: white;
}

#myLinks {
  display: none;
}

#myLinks ul {
list-style-type: none;
counter-reset:item;
padding-left: 0;
background-color: #fff;
}

.main-text {
  margin-top: 80px;

}

.video-wrapper {
  margin-right: 0px;
  margin-top: 100px;
  z-index: -1;
}

#tocontent {
  right:48px;
}

}

/* NOTE: mobil only */
@media only screen and (max-width: 700px) {

  .main-content {
    margin-left: 20px;
    margin-right: 20px;
  }

  .main-text {
    max-width: 386px;
  }

  #tocontent{
    bottom: 20px;
    right: 48px;
  }

  .videowrapper {
    margin-top: 250px;
  }

  #prevBtn {
    margin-right: 145px;
  }
}

@media only screen and (max-width: 450px) {
  .main-content {
    margin-right: 0px;
  }

  .btn-wrapper {
    display: flex;
  }
}




/* NOTE: specifikt til styleguide */
.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.type {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.color-type {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.colors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.block {
  width: 70px;
  height: 20px;
}

/* NOTE: css fra footer.css */

*{
  margin: 0;
  padding: 0;
}


html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0
  color: #000;
font-weight: 400;
font-size: 15px;
line-height: normal;
font-family: "Roboto Mono", monospace;
letter-spacing: -0.013em;
}


h4,
p,
ol,
ul {
	margin: 0;
	padding: 0;
}

main {
	display: block;
}

a,
button {
	color: inherit;
}

a {
	text-decoration: none;
	background-color: transparent;
}

a:hover,
a:active {
	outline-width: 0;
}
::-moz-focus-inner {
	padding: 0;
	border: 0;
}

:focus {
	outline: 0;
}

/* NOTE: css for forms.html, den skal ændres så den passer */
.accordion {
  color: #fff;
  padding: 18px;
  width: 386px;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-weight: 400;
  font-family: "Roboto Mono", monospace;


}



.panel {
  background-color: white;
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 10px;
}

.panel6 {
  border: 3px solid #d8a55a;
  width: 380px;
}

.platform, .antal{
  color:#515f5d;
}
#indhold {
  border: 3px solid #aa81ac;
  padding: 15px;
  width: 350px;
  color:#515f5d;

}

#target-o {
  border: 3px solid #6696ac;
  padding: 15px;
  width: 350px;
  color:#515f5d;
}

 .kontakt{
   color:#d8a55a;
 }
 input[type=text], input[type=email] {
   border: 3px solid #d7734a;
   width: 350px;
  padding: 15px;
  color:#515f5d;
  font-family: "roboto mono" monospace;
 }


.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */

.stepup {
  overflow: hidden;
  justify-content: center;
  display: flex;
  width: 386px;
}

.step {
  height: 10px;
  width: 60px;
  margin-left:2px;
  margin-right: 2px;
  margin-top: 25px;
  margin-bottom: 20px;
  background-color: #aa81ac;
  border: none;


}

/* Mark the active step: */
.step.active {
  opacity: 0.5;
  background-color:#a6bb75;
  width: 90px;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #a6bb75;
}



/* NOTE:  footer starter */

footer{
	display: block
}

a {
text-decoration: underline;
transition: color 200ms;
}

footer h4 {
  margin-bottom: 1.7em;
}
p {
    margin-bottom: 1.7em;
    line-height: 1.7;
}



footer{
  padding: 60px 20px;
  background-color: #515f6d;
  position: relative;
  color: #fff;
  display: block;
}
.center{
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  position: relative;
}
footer .footer-content{
  max-width: 660px;
}
.row {
  overflow: hidden;
}
footer ul {
    list-style: none;
    line-height: 1.7;
}

.col33 {
  margin-bottom: 60px;
  width: 100%;
  float: none;
}


@media only screen and (min-width: 700px) {

  footer {
    padding: 50px;
    height: 300px;
  }

  .center{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    position: relative;

  }
  footer .footer-content{
    max-width: 660px;
  }
  .row {
    overflow: hidden;
  }

  .col33 {
    float: left;
    width: 33.3333%;

  }
}

@media only screen and (min-width: 1000px) {
  footer{
  padding: 150px 100px;
}
}
