#tocontent {
    padding-bottom: 20px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    text-decoration: none;
    color: #6696ac;
}
#tocontent:after {
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    border-right: 3px solid currentColor;
    border-bottom: 3px solid currentColor;
    position: absolute;
    bottom: 0;
    left: 42px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.main-content {
    display: grid;
    grid-template-columns: 700px 1fr;
    grid-template-rows: 25% 900px 1fr;
}
.main-content h1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.formular {
    margin-left: 100px;
    margin-right: 240px;
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: #D47378;
}
.video {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -3;
}
