/* MOBILE STYLING */

@media screen and (min-width: 375px) {

.hearticon {
  width: 20em;
  padding-top: 7em;
  padding-bottom: 2em;
  padding-left: 4em;
}

.code_heading {
  font-size: 40px;
  padding-left: 0.5em;
}

.code_heading::after {
  content: "  {";
  font-size: 1em;
  font-weight: 400;
  padding-left: 0.5em;

}

.tekst {
  padding-top: .5em;
  padding-left: 2em;
  font-size: 1.5em;
}

.bracket {
  font-size: 40px;
  font-weight: 400;
  padding-left: 0.5em;
}

.btn {
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

}





/* WEB STYLING */
@media screen and (min-width: 1000px) {

/* IKON WEB STYLING */
  .hearticon {
    padding-top: 4em;
    padding-bottom: 3em;
    padding-left: 16em;
    width: 30em;
  }

/* WEB TEKST STYLING */

.main-contentthanku {
  width: 50em;
}

.code_heading {
  font-size: 40px;
  padding-bottom: 0em;
  padding-left: 3.5em;
}

.code_heading::after {
  content: "   {";
  font-weight: 400;
  padding-bottom: .5em;
  padding-left: 0.3em;
}

.tekst {
  font-size: 40px;
  padding-left: 5em;
  letter-spacing: -0.013em;
}

.bracket {
  font-size: 40px;
  font-weight: normal;
  padding-left: 4.1em;
}

.btn {
  margin-left: 6em;
  margin-top: 0em;
}

}
