/* MOBILE STYLING */

@media screen and (min-width: 375px) {

.hearticon {
  width: 20em;
  padding-top: 7em;
  padding-bottom: 2em;
  padding-left: 2.4em;
}

.code_heading {
  padding-left: 0.5em;
}

.code_heading::after {
  content: "   {";
  font-size: 1em;
  padding-left: 0.5em;

}

.tekst {
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1.5em;
  font-size: 1.5em;
}

.bracket {
  padding-bottom: 1em;
  padding-left: 0.5em;
}

.btn {
  margin-left: 8em;
  margin-bottom: 1.5em;
}

}





/* WEB STYLING */
@media screen and (min-width: 1000px) {

/* IKON WEB STYLING */
  .hearticon {
    padding-top: 4em;
    padding-bottom: 3em;
    padding-left: 8em;
    width: 30em;
  }

/* WEB TEKST STYLING */

.main-contentthanku {
  width: 50em;
}

.code_heading {
  font-size: 3em;
  padding-bottom: 0.3em;
  padding-left: 0.3em;
}

.code_heading::after {
  content: "   {";
  font-size: 1em;
  padding-bottom: 1em;
  padding-left: 0.3em;
}

.tekst {
  font-size: 2em;
  padding-left: 2em;
}

.bracket {
  font-size: 3em;
  padding-bottom: .5em;
  padding-left: 0.3em;
}

.btn {
  margin-left: 20em;
}

}
